body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.navbar {
  background: linear-gradient(105.34deg, #ff879c 1.81%, #f15d78 98.51%);
  display: flex;
  justify-content: space-between;
}
.navbar nav {
  display: flex;
  flex-direction: row;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  margin-left: 130px;
}
.navbar li {
  padding: 20px;
}
nav ul:first-child li {
  margin-right: -30px;
}
nav .btn {
  border: 0.1px solid rgba(21, 25, 80, 0);
  cursor: pointer;
  background: rgba(31, 39, 67, 1);
  padding: 10px 30px;
  width: -100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 10 rgb(0, 1, 5);
}
nav .btn a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0.5rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  flex: 0 0 100%;
}
.col-11 {
  flex: 0 0 91.66666667%;
}
.col-10 {
  flex: 0 0 83.33333333%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-7 {
  flex: 0 0 58.33333333%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-5 {
  flex: 0 0 41.66666667%;
}
.col-4 {
  flex: 0 0 33.33333333%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-auto {
  flex: 0 0 auto;
}
.col {
  flex: 1 0 0;
}
.nav-img {
  position: absolute;
  top: 123px;
  left: 5px;
}
.wrapper {
  background-color: rgba(31, 39, 67, 1);
  color: white;
  height: 100%;
}
.content {
  min-height: 100%;
}
.footer {
  height: 200px;
}
footer ul li {
  list-style-type: none;
}
.btn-learn-more {
  border: 0.1px solid rgba(21, 25, 80, 0);
  cursor: pointer;
  background: rgba(31, 39, 67, 1);
  padding: 10px 30px;
  width: -100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 10 rgb(0, 1, 5);
}
