body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.navbar {
  background: linear-gradient(105.34deg, #ff879c 1.81%, #f15d78 98.51%);
  display: flex;
  justify-content: space-between;
}
.navbar nav {
  display: flex;
  flex-direction: row;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  margin-left: 130px;
}
.navbar li {
  padding: 20px;
}
nav ul:first-child li {
  margin-right: -30px;
}
nav .btn {
  border: 0.1px solid rgba(21, 25, 80, 0);
  cursor: pointer;
  background: rgba(31, 39, 67, 1);
  padding: 10px 30px;
  width: -100px;
  height: 50px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 0 10 rgb(0, 1, 5);
}
nav .btn a {
  color: white;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
