body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navbar nav {
  display: flex;
  flex-direction: row;
}
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  margin-left: 130px;
  
}
.navbar li {
    padding: 20px
}
